extends shared

block content
 div.container
   br 
   br
   h1= title
   br


   form.scrol(action="/activeGames", method="post")
     table(class="table table-striped table-bordered")
       tr
         th Game Id
         th User Id
         td Ended In
         th timeFromStart
         th turnsFromStart
         th utilityWithoutDiscount
         th utilityWithDiscount
         th country
         th Delete
       - if (FinalResultList !== undefined) 
         each FinalResult in FinalResultList
          tr
            td #{FinalResult.PartitionKey}
            td #{FinalResult.RowKey}
            td #{FinalResult.endedIn}
            td #{FinalResult.timeFromStart}
            td #{FinalResult.turnsFromStart}
            td #{FinalResult.utilityWithoutDiscount}
            td #{FinalResult.utilityWithDiscount}
            td #{FinalResult.country}
            td 
              a(href= "/#{gametype},#{FinalResult.RowKey},#{FinalResult.PartitionKey}/deleteFinalResult") deleteMe 
                  
     
