extends shared

block content
 div.container
  br 
  br
  h1 Game Action List
  br
  div.scrol
     table(class="table table-striped table-bordered")
       tr
         th Game Id
         th Action's Number
         th Action
         th Remaining Time
         th Role
         th User Id
         th Issue
         th Value
         th country
         th Delete
       - if (GameActionList !== undefined) 
         each GameAction in GameActionList
          tr
            td #{GameAction.PartitionKey}
            td #{GameAction.RowKey}
            td #{GameAction.action}
            td #{GameAction.remainingTime}
            td #{GameAction.role}
            td #{GameAction.userid}
            td #{GameAction.issue}
            td #{GameAction.value}
            td #{GameAction.country}
            td 
              a(href= "/#{gametype},#{GameAction.RowKey},#{GameAction.PartitionKey}/deleteGameAction") deleteMe 