// required variables: 
//   agents[0,1,2...].utility_space_object, of type genius.UtilitySpace
//   turnLengthInSeconds
extends layoutForUtilities
block title
  title Partner's score table
block body
 table#utilityTable.utility
   caption
    em Partner's possible score tables <br/>(You don't know which of these tables is correct)
   tr
    th.utility Values
    for agent in agents
     th.utility #{agent.personality.replace(/-/,"- ")}
    
   for issue in agents[0].utility_space_object.issueByIndex
    tr.utilityIssue
     td(colspan="#{1+agents.length}") #{issue.name}
    for item in issue.valueByIndex
     tr
      td.utilityValue #{item.value}
      for agent in agents
       td.utilityUtil #{sprintf(format, agent.utility_space_object.issueByIndex[issue.index].valueByIndex[item.index].evaluation * agent.utility_space_object.issueByIndex[issue.index].weight * agent.utility_space_object.weightmultiplyer)}

   tr.utilityIssue
    td(colspan="#{1+agents.length}") Time Effect
    
   tr
    td.utilityValue Decrease per #{turnLengthInSeconds} sec:
    for agent in agents
      td.utilityUtil #{sprintf(format, 1*agent.utility_space_object.timeeffect)}

   tr
    td.utilityValue(colspan="1",title="Your score if you opt-out of the negotiation") Opt-out Score:
    for agent in agents
      td.utilityUtil #{sprintf(format, 1*agent.utility_space_object.optout)}

   tr
    td.utilityValue(colspan="1",title="Status-quo score - your score if the negotiation times out") Time-out Score:
    for agent in agents
      td.utilityUtil #{sprintf(format, 1*agent.utility_space_object.reservation)}

