//- requires blocks: roomScripts, previewNotes, mainGui
extends layout
block title
  title#title Chat Room 
block body
  link(rel='stylesheet', href='/stylesheets/datatable.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js')
  script(src='/javascripts/yahoo_yui_2.8.1/yahoo-dom-event/yahoo-dom-event.js')
  script(src='/javascripts/yahoo_yui_2.8.1/element/element-min.js')
  script(src='/javascripts/yahoo_yui_2.8.1/datasource/datasource-min.js')
  script(src='/javascripts/yahoo_yui_2.8.1/datatable/datatable-min.js')
  script var session_data = !{locals.session_data? JSON.stringify(session_data): "null"};
  script(src='/javascripts/datatable.js')
  script(src='/javascripts/AMTtest2.js')


  if (!locals.preview)
    script(src='/javascripts/UtilityButtons.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/CommonSocketEvents.js')
    block roomScripts


    

  div#mainPanel
    if (locals.preview)
      div.mainSection#noJavascriptSupport This game works on Firefox and Chrome browsers only.
      div.mainSection#noJavascriptSupport You can't play twice. For check if you can play, please insert your workerId and pres the button.
        form(onClick='canIplay()') 
           input(type='text', id='workerid')
           input(type='button', value='check')
           input(type="hidden", id="workers", value="#{wprkers}")
        p#canPlay(Style="display: none") You can play! :)
        p#cannotPlay(Style="display: none") You CAN NOT play!
        P#present
    
                


    block previewNotes
    
    block statusAndButtons
      if (!locals.preview && (locals.gametype == "negochatWithAgent_JobCandidate" || locals.gametype == "negomenusWithAgent_JobCandidate"))
        div.mainSection#waiting 
          span.key Please wait to your partner.   
          span#value(Style="font-weight:bold; color: blue;") 5m, 00s  
          p#message 
            |The waiting time is usually 
            u much
            |  lower
      div.mainSection#mainStatusRow <!-- row #2: status and buttons -->
        table
          tr
            td Your role: <b id='role'>#{role}</b>.
            td#phase
              span.value Status: #{locals.preview? "This is a preview only!": "Connecting..."}
            td#remainingTime
              span.key Remaining time:
              span.value#gameTimer
            td
              button#UtilityOfCurrent.btnUtility Score table
            td
              button#UtilityOfPartner.btnUtility Partner's scores

    block mainGui

    div.mainSection#mainHistoryRow.yui-skin-sam <!-- row #5: history -->
      table#tblhistory
        thead
          tr
            th(align="center",width="100%") History of actions
        tbody
          tr
            td(valign="top",align="center",style="font-size: 8pt;")
              div#tblHistoryContainer"

    div#mainOptOutRow.mainSection <!-- row #6: opt-out -->
      p 
       b Click here to quit the negotiation immediately:
       button#btnOptOut Opt Out

    script function bye() {  window.location = '!{next_action}'; }
    //if (locals.AMTStatus)
      //div#AMTStatus #{AMTStatus}
