//- required variables: 
//-   games - an array of Game objects.
//-   timeToString - a function for converting time in seconds to string.
extends layout
block body
 h1 #{games.length} #{title}
 table.gamedata
  tr
   th game id
   th players
   th started at
   th ended at
   th final result
  each game, index in games
   if (game.startTime && game.endTime && (show_unverified_games || !game.unverified)) 
    tr
     td #{game.gametype} #{game.gameid}
      div.center
       a(href='/LogToXml/actions_#{game.gameid}') Log
       if (show_unverified_games)
        | &nbsp;&nbsp;
        | #{game.unverified? 'unverified': 'verified'}
     td 
      ul
       if (game.mapRoleToUserid)
        each userid, role in game.mapRoleToUserid
         li <b>#{role}</b> is player 
          a(href='/LogToXml/user_#{userid}') #{userid} 
     td #{game.startTime.toString().replace(/T/,' ').replace(/Z/,' UTC')}
     td #{game.endTime.toString().replace(/T/,' ').replace(/Z/,' UTC')}
     td #{game.mapRoleToFinalResult? JSON.stringify(game.mapRoleToFinalResult): '-'}
      