!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Chat-Chat
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le styles 
    link(href='../assets/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    //link(href='../assets/css/bootstrap-responsive.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='../assets/js/html5shiv.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='../assets/ico/favicon.png')
  body(class="#{accountName}") 
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Chat Project
          .nav-collapse.collapse
            ul.nav
              li
                a(href='/') Home
              
              li
                a(href='#about') About

              li.dropdown.active
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Play
                  b.caret
                ul.dropdown-menu
                 for game in domains
                  li
                    a(href='/#{game}/chooseGame') #{game}
              for type in Object.keys(gametypes)  
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | #{type}
                    b.caret
                  ul.dropdown-menu
                   for t in gametypes[type]
                    li
                      a(href='/#{type+'_'+t}/gametypeCountry') #{t}

    .container
      
      h1 BIU AI lab gametype server - Main Page
      h4
          a(href='/users') Active users
          div(style='background-color: #eee;')
            h1 #{country}'s Games - #{domain}
            h4
              | note: Open different links in different browsers, to make the server think they are different users.

            for game in Object.keys(gameServers)
              if (gameServers[game].data.domain == domain)
                if (gameServers[game].data.playIn)
                  if (gameServers[game].data.playIn.indexOf(country) != -1)
                     h2 #{game.split("_")[0]}
                     h4
                       a(href='/#{game}/beginner') PLAY - A worker not from Amazon Turk
                     //h4
                       a(href='/#{game}/demo') PLAY - Demo
                     //h4
                       a(href='/#{game}/beginner?assignmentId=ASSIGNMENT_ID_NOT_AVAILABLE') PLAY - Amazon Turk Preview mode
                     //h4
                       a(href='/#{game}/beginner?workerId=amazonworker123&hitId=hit123&assignmentId=assignment123&turkSubmitTo=sandbox') PLAY - Amazon Turk Live mode with a dummy worker
                     h4
                       a(href='/#{game}/advanced') PLAY - A worker not from Amazon Turk - jump directly to game
                     //h4
                       a(href='/#{game}/advanced?workerId=amazonworker123&hitId=hit123&assignmentId=assignment123&turkSubmitTo=sandbox') PLAY - Amazon Turk Live mode - jump directly to game
                     each role in gameServers[game].requiredRolesArray
                       h4 
                        a(href='/#{game}/advanced/#{role}') PLAY - Jump directly to game as #{role}

                       h2 
                     h4
                      a(href='/#{game}/listactive') Active games 
                     
                     hr
                  
      
      hr
      footer
        p © Company 2013
    //
       /container 
    //
       Le javascript
          
    //
       Placed at the end of the document so the pages load faster 
    script(src='../assets/js/jquery.js')
    script(src='../assets/js/bootstrap-transition.js')
    script(src='../assets/js/bootstrap-alert.js')
    script(src='../assets/js/bootstrap-modal.js')
    script(src='../assets/js/bootstrap-dropdown.js')
    script(src='../assets/js/bootstrap-scrollspy.js')
    script(src='../assets/js/bootstrap-tab.js')
    script(src='../assets/js/bootstrap-tooltip.js')
    script(src='../assets/js/bootstrap-popover.js')
    script(src='../assets/js/bootstrap-button.js')
    script(src='../assets/js/bootstrap-collapse.js')
    script(src='../assets/js/bootstrap-carousel.js')
    script(src='../assets/js/bootstrap-typeahead.js')
