extends shared

block content
 div.container
   br 
   br
   h1 Player List  (#{gametype.split("_")[1]})
 
   br

   form.scrol(action="/activePlayer", method="post")
     table(class="table table-striped table-bordered")
       tr
         th Game Id
         th Player Id
         th Role
         th Type
         th country
         th Active
         th Delete
       - if (playerList !== undefined) 
         each player in playerList
          if (player.gametype == gametype || player.gametype == gametype.split("_")[0])
            tr
              td
                a(href='/#{gametype},#{player.PartitionKey}/gameReport') #{player.PartitionKey}
              td 
                a(href='/#{gametype},#{player.RowKey}/playerReport') #{player.RowKey}
              td #{player.role}
              td #{player.type}
              td #{player.country}
              td
                input(type="checkbox", name="active", value="#{!player.active}", checked=player.active)
              td 
                 a(href= "/#{player.gametype},#{player.RowKey},#{player.PartitionKey}/deletePlayer") deleteMe 