extends shared

block content
 h1= title
 br


 form(action="/activeQuestionnaire", method="post")
   table(class="table table-striped table-bordered")
     tr
       th PartitionKey
       th Name
       th Gender
       th Age
       th Education
       th Field
       th Birth Country
       th Data Status
       th Completed
       th Date
       th country
       th Active
     - if (questionnaireList !== undefined) 
       each questionnaire in questionnaireList
        tr
          td #{questionnaire.PartitionKey}
          td #{questionnaire.yourname}
          td #{questionnaire.gender}
          td #{questionnaire.age}
          td #{questionnaire.education}
          td #{questionnaire.field}
          td #{questionnaire.birth_country}
          td #{questionnaire.datastatus}
          td #{questionnaire.completed}
          - var day   = questionnaire.Timestamp.getDate();
          - var month = questionnaire.Timestamp.getMonth() + 1;
          - var year  = questionnaire.Timestamp.getFullYear();
          td #{day + "/" + month + "/" + year}
          td #{questionnaire.country}
          td
            input(type="hidden", name="#{questionnaire.RowKey}", value="#{questionnaire.RowKey}")
            input(type="checkbox", name="active", value="#{!questionnaire.active}", checked=questionnaire.active)
   button(type="submit", class="btn") Update
 hr
 form(action="/deleteQuestionnaireTable", method="post", class="well")
   br
   button(type="submit", class="btn") Delete Questionnaire Table