extends layout
block title
  title Tutorial and Exam
block body
  div#analysisContainer
    form#questForm(action="#{action}",method="get",onsubmit="return ValidateRequiredFields();")
      h1 Negotiation tutorial
      p.wrongAnswer 
        b #{(query.mistake? 'Wrong answer in '+ query.wrong + '! Please try again.': '')}
      if ((gametype.indexOf("menu") != -1) && (userRole == "Candidate")) 
        p Please read the <a target='_blank' href='http://54.191.84.213/#{country}Chat#{userRole}menu/'>tutorial presentation</a> (opens in a new window), then answer the questions below:
      else
        p Please read the <a target='_blank' href='./tutorial/'><strong>tutorial presentation</strong></a> (opens in a new window), then answer the questions below:
      input(type="hidden", name="next_action", value="#{next_action}")

      h2 Question 1
      p Whose side are you playing in the negotiation? 
      select(name='question1')
        option(value='') -- select --
        each requiredRole in requiredRoles
         option(value='#{userRole==requiredRole? "correct": ""}') #{requiredRole}
        option Both

      h2 Question 2
      p What is the maximum negotiation time?
      select(name='question2')
        option(value='') -- select --
        option 20 minutes.
        option(value='correct') 30 minutes.
        option 40 minutes.

      p
        input(type="submit", class="button", value="Start negotiation")

//      h2 Question 2
//      p If the same agreement was reached in round 3 or in round 6, which of the following is correct?
//      select(name='question2')
//        option(value='') -- select --
//        option Both agreements will be equally good for both sides.
//        option The employer will prefer an agreement in round 6 as its score increases with time.
//        option The candidate will prefer an agreement in round 6 as its score increases with time.
//        option(value='correct') Both will prefer an agreement in round 3, as both scores decrease with time.

//      h2 Question 3
//      p What if no agreement had been reached by the end of the last round?
//      select(name='question3')
//        option(value='') -- select --
//        option No agreement means no score.
//        option(value='correct') The standard contract will be signed, and I get a positive score.

//      h2 Question 4
//      p What is the meaning of "opting out"?
//      select(name='question4')
//        option(value='') -- select --
//        option The negotiation stops and the last proposal that was offered is the final agreement.
//        option(value='correct') The negotiation stops and we sign the standard contract.
//        option The negotiation stops for the current round and will resume later.

      