extends layout
block title
  title Demographic Questionnaire
block body

  div#analysisContainer
    form#questForm(action="/#{gametype}/addquestionnaire", onsubmit="return validateForm()", method="post")
      h1 Pre-negotiation questionnaire
      p The experiment will begin with a questionnaire. Please answer the questions on this page. Press Continue when finished.
      input#country(type="hidden", value="#{country}") 
      table
        tr
           td.label Nickname:
           td.field
             input#field(name='item[name]')
        tr
          td.label Gender:
          td.field
            select#gender(name='item[gender]')
              option(value='') -- select --
              for v in ['Male', 'Female']
                option(value='#{v}') #{v}
        tr
          td.label Age range:
          td.field
            select#age(name='item[age]')
              option(value='') -- select --
              for v in ['11-20', '21-30', '31-40', '41-50', '51-up']
                option(value='#{v}') #{v}
        tr
          td.label Education:
          td.field
            select#education(name='item[education]')
              option(value='') -- select --
              for v in ['Elementary school', 'Jr. High school', 'High school', 'Bachelor degree', 'PhD']
                option(value='#{v}') #{v}
        tr
           td.label In case you have a university degree, in which field?
           td.field
             input#field(name='item[field]')
        tr
           td.label Country of birth:
           td.field
              input#birth(name='item[birth_country]')
        if (country == "israel")
          tr
           td.label Name:
           td.field
              input#name(name='item[yourname]')
         
          tr
           td.label ID:
           td.field
              input#id(name='item[id]')
          tr
           td.label University:
           td.field
              input#university(name='item[university]')
          tr
             td.label 
              input#confirm(type="checkbox") 
             td.field I consent to the IRB (
              a(href='/irb', target="_blank") Institutional Review Board
              ) form
          
      p#sideMassage    
           
      if (canPlay)
        input(type="submit", class="button", value="Continue")
      else
        p You played already and can't paly again. Please return the hit.

