extends shared

block content
 div.container
   br 
   br
   h1 Questionnaire List  (#{gametype.split("_")[1]})
   br


   form.scrol(action="/activeQuestionnaire", method="post")
     table(class="table table-striped table-bordered")
       tr
         th user id
         th gametype
         th role
         th gameid
         th workerid
         th feedback
       - if (questionnaireList !== undefined) 
         each questionnaire in questionnaireList
          if (questionnaire.gametype == gametype || questionnaire.gametype == gametype.split("_")[0])
             tr
               td #{questionnaire.userid}
               td #{questionnaire.gametype}
               td #{questionnaire.role}
               td #{questionnaire.gameid} 
               td #{questionnaire.workerId}
               td #{questionnaire.feedback}
              
                  
     