extends layoutForChat

block roomScripts
    script(src='/javascripts/RoomForNegoNlp2.js')
    script(src='/javascripts/IssueValueMenus.js')

block previewNotes 

block statusAndButtons
      div.mainSection#mainStatusRow <!-- row #2: status and buttons -->
        table
          tr
            td Your role: <b id='role'>#{role}</b>.
            td#phase
              span.value Status: #{locals.preview? "This is a preview only!": "Connecting..."}
            td#remainingTime
              span.key Remaining time:
              span.value
            td
              button#UtilityOfCurrentNaturalLanguage.btnUtility Score table

block mainGui
    if (locals.agent)
     div.mainSection <!-- row #3: explanations to the user; possible values and utils -->
       div This is a simulation of <b>negotiation</b> #{domain_description}
       ul
        //li You play the role of the <b>#{role}</b>. The other role is played by a computer agent.
        li You play the role of the <b>#{role}</b>.
        //li The computer agent understands English sentences in the domain of this negotiation. 
        //li You communicate with the computer agent using <b>chat</b> only.
        li You communicate with the candidate using <b>chat</b> only.
        li The negotiation relates to several <b>issues</b>. For each issue, there are several possible <b>values</b>.
        //li Your score depends on the <b>values</b> in the final agreement, and on <b>time</b>. Click "Your scores" for details.
        li Your score depends on the <b>values</b> in the final agreement.
        //li You will get a bonus in cents: <b>score/4</b>.
        //li Note that the bonus is much higher than the base payment, so it pays to negotiate longer and get a better agreement! 
        //li Use the menus below as a draft. Your partner cannot see them - you communicate with <b>chat</b> only. 
        li Use the agreement draft to calculate the total score of several issues. 
        li The agreement draft is <b>not binding</b> until both of you sign it.
       div &nbsp;  
       include GeniusMenus
       div
        button(id='signAgreement',disabled='disabled',title="The sign button is enabled only when your draft is consistent with your partner's draft on all issues") Sign the agreement

    div#mainChatRow.mainSection <!-- row #4: chat -->
      //p <b>Please write a complete, grammatically correct English sentence.</b>
      p <b>Please write a sentence.</b>
      p 
        input#chatMessage(value="")
        button#btnSendChat Say
