extends layout

block title
 title Write a sentence in different words

block body
 div.mainSection(style='font-size:16px')
  h1 Write a sentence in different words
  //p A Hi-Tech company would like to hire you. You negotiate your job conditions with your potential employer.
  p You are a manager in a hi-tech company.
  p You are negotiating with a job candidate about his/her job conditions.
  p During the interview, you want to say the sentences below, but for some reason, you are not allowed to use the exact same words, so you need to come up with variations. 
  p Please write, for each sentence, three DIFFERENT English sentences that have the SAME meaning.
  div(style='background:#eee; border:#444 solid')
    p Please make sure that your paraphrases imply exactly the same position in the negotiation as the original sentence. For example:  
    p Sentence: <b>I offer a $10000 salary.</b>
    p(style='color:green') Good paraphrase: <b>I can give you a salary of ten thousand dollars.</b>
    p(style='color:red')   Bad paraphrase: <b>I can give you a high salary.</b> (not exactly the same meaning)
  p(style='color:green')
  p Here are the sentences:
  form(method='get',action='#{action}')
   -for (var j = 0; j < iSentences.length; ++j)
    h2 #{naturals[j]}
    input(type="hidden", name="iSentence_#{j}", value="#{iSentences[j]}")
    input(type="hidden", name="natural_#{j}", value="#{naturals[j]}")
    input(type="hidden", name="semantic_#{j}", value="#{semantics[j]}")
    for i in [1, 2, 3]
     p 
      label Paraphrase #{i}:
      input(name='paraphrase_#{j}_#{i}',style='width:100%')
   input(type="hidden", name="next_action", value="#{next_action}")
   input(type="submit", class="button", value="Submit")
