//- required variables: 
//-   users - a map from userid to session
extends layout
block title
 title Active user sessions
block body
 h1 Active user sessions
 table.userdata
  tr
   th user id
   th urls
   th role
   th game
   th gameid
  each session, userid in users
   tr
    td
     a(href='/LogToXml/user_#{userid}') #{userid}
    td !{session.urls.join("<br/>\n")}
    td #{session.role}
    td #{session.gametype}
    td #{session.gameid}
      div.center
       a(href='/LogToXml/actions_#{session.gameid}') Log
       | &nbsp;&nbsp;
       a(href='/#{session.gametype}/watchgame/#{session.gameid}') Watch
       | &nbsp;&nbsp;
       | #{session.unverified? 'unverified': 'verified'}
